@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-blue: #0a66c2;
}

@layer base {
  html {
    color-scheme: light;
    height: 100%;
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    @apply bg-white text-black transition-colors duration-300;
    @apply dark:bg-[#0a0a0a] dark:text-white;
    height: 100%;
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-50 dark:bg-[#1a1a1a];
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 dark:bg-gray-800 rounded-full border-2 border-transparent bg-clip-padding;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300 dark:bg-gray-700;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
